:root {
  --primary-color: #3d5a80;
  --secondary-color: #98c1d9;
  --tertiary-color: #e0fbfc;
  --quaternary-color: #ee6c4d;
  --quinary-color: #293241;
  --white-belt: #eff1f3;
  --blue-belt: #27187e;
  --brown-belt: #43291f;
  --black-belt: #000c14;
  --red-belt: #c1121f;
  --yellow-belt: #fdc500;
  --transform: translateX(20%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  font-family: Arial, sans-serif;
  height: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  /* margin-top: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  background: url(../static/assets/img/logo-sdmas-Black.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
body h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.btn-custom {
  background-color: #000;
  color: #fff;
}
.btn-custom:hover {
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
form input {
  background-color: var(--tertiary-color);
}
