:root {
  --primary-color: #3d5a80;
  --secondary-color: #98c1d9;
  --tertiary-color: #e0fbfc;
  --quaternary-color: #ee6c4d;
  --quinary-color: #293241;
  --white-belt: #eff1f3;
  --blue-belt: #27187e;
  --brown-belt: #43291f;
  --black-belt: #000c14;
  --red-belt: #c1121f;
  --yellow-belt: #fdc500;
  --transform: translateX(20%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  font-family: Arial, sans-serif;
  height: auto;
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
}
body::before {
  content: "";
  background: url(../static/assets/img/logo-sdmas-Black.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

p {
  font-size: 1.25rem;
  color: #6c757d;
}

form {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0.95;
}

form h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

form .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
}

form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

form .form-check-label {
  color: #6c757d;
}

form a {
  color: #007bff;
}

form a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 50%;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  object-fit: cover;
}
.logo-link {
  width: 50%;
  height: 50%;
  display: inline-block;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar-nav .nav-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item a {
  text-align: center;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--quinary-color);
}
.navbar-nav .nav-link:hover {
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid black;
}
.container-login h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #343a40;
}
.container-login p {
  font-size: 1.5rem;
  color: var(--quinary-color);
  font-weight: normal;
}

.btn.btn-primary {
  background-color: var(--quinary-color);
  border: none;
  font-weight: 700;
}
/* .login-content::before {
  content: "";
  color: #000;
  border: 1px solid #000;
  opacity: 1;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
} */
.end-content {
  margin-top: 14px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.6); */
  box-shadow: 0 -4px 3px -4px rgba(0, 0, 0, 0.5);
}
.btn.btn-primary:hover {
  background-color: white;
  color: #000000;
  border: 1px solid black;
}
