:root {
  --primary-color: #3d5a80;
  --secondary-color: #98c1d9;
  --tertiary-color: #e0fbfc;
  --quaternary-color: #ee6c4d;
  --quinary-color: #293241;
  --white-belt: #eff1f3;
  --blue-belt: #27187e;
  --brown-belt: #43291f;
  --black-belt: #000c14;
  --red-belt: #c1121f;
  --yellow-belt: #fdc500;
  --transform: translateX(20%);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.row {
  max-width: 100%;
  max-height: 100%;
}
.container-component {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 100%;
}
.sidebar {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 20px 10px;
  width: 600px;
  height: 95vh;
}

.user-infor img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search-chat {
  position: relative;
  margin: 20px;
  margin-top: 40px;
}
.search-chat input {
  background-color: #effeff;
  padding: 14px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search-chat input::placeholder {
  font-weight: 900;
  color: #000;
  font-size: 20px;
}
.search-chat i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 40px;
}
.user-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-item-actions {
  display: flex;
  flex-direction: column;
  width: 26%;
  align-items: flex-end;
}
.user-item-actions i {
  padding: 5px;
  padding-right: 0;
}
.user-item-content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-infor-content h5 {
  color: var(--quinary-color);
  font-size: 18px;
}

.user-item-content h5 {
  color: var(--quinary-color);
  font-size: 15px;
  font-weight: 700;
  float: left;
}
.user-item-content .group-chat {
  color: red;
}
.user-infor-content p {
  font-size: 12px;
  float: left;
}
.user-item-content p {
  font-size: 12px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
}

.scrollable-container {
  width: 100%; /* Đặt chiều rộng container */
  max-height: 80vh;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}
.scrollable-container::-webkit-scrollbar {
  display: none;
}
.list-group-item {
  border: none;
  padding: 10px 15px;
}
.list-group li {
  border: none;
}
.list-group-item:hover {
  background-color: var(--tertiary-color);
  border-radius: 10px;
}
.list-group-item.actived {
  background-color: var(--tertiary-color);
  transition: all 0.3s ease;
  border-radius: 10px;
}
.item-links {
  text-decoration: none;
  color: inherit;
  display: block;
}
.chat-area {
  display: flex;
  width: 100%;
  max-height: 95vh;
  flex-direction: column;
  margin: 20px 10px;
}
.chat-area-top {
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.chat-area-top .chat-messages {
  padding: 0 20px;
}
.chat-header {
  border-bottom: 2px solid black;
}
.chat-header i {
  font-size: 28px;
  margin-right: 10px;
}
.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  max-height: 60vh;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  border-radius: 20px;
}
.message-infor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.message-infor .name-sender {
  margin-left: 20px;
  font-weight: 800;
  font-size: 20px;
}
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-messages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250%;
  height: 100%;
  background-size: cover;
  opacity: 0.2; /* Adjust the opacity here */
  z-index: -1;
  transform: translateX(-29%);
}
.chat-messages::-webkit-scrollbar {
  display: none;
}
.chat-messages img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 30px;
}
.message {
  margin-bottom: 10px;
}

.message.received {
  text-align: left;
  display: flex;
}
.message.received p {
  padding: 20px;
  background-color: #eeeaea;
  margin-left: 10px;
  display: inline-block;
  border-radius: 20px;
  height: 100%;
}
.message.sent p {
  padding: 20px;
  background-color: var(--tertiary-color);
  margin-right: 10px;
  display: inline-block;
  border-radius: 20px;
  object-fit: cover;
}
.message.sent {
  text-align: right;
}

.chat-input {
  display: flex;
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
}
.chat-input i {
  font-size: 40px;
  padding: 0 10px;
}
.chat-input input {
  flex-grow: 1;
  margin-right: 10px;
  background: var(--tertiary-color);
  border-radius: 40px;
}

.btn-send-container {
  cursor: pointer;
}
.btn-send-container .btn-send {
  font-size: 40px;
  display: inline-block;
  padding: 0 10px;
  color: #000;
}
.more-action {
  margin: 0 10px;
}
.user-profile {
  background-color: #ffffff;
  margin: 20px 10px;
  border-radius: 30px;
  min-width: 15vw;
  display: none;
}
.user-profile.show {
  display: block;
}
.user-profile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-profile ul li a {
  text-decoration: none;
  color: initial;
}
.user-profile ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
}
p {
  margin-bottom: 0;
}
.profile-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-header img {
  width: 100px;
  height: 100px;
}
.user-status-content {
  height: 100px;
  width: auto;
}
.user-status-content p {
  font-weight: 900;
  font-size: 18px;
}
.user-status-content span {
  font-weight: 100;
}
.user-status-content img {
  width: 70px;
  height: 50px;
}
.fa-ellipsis {
  padding: 0;
  font-size: 28px;
}
.profile-actions {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.profile-actions button {
  margin: 5px;
}

.profile-attachments {
  text-align: center;
}

.profile-attachments button {
  margin: 5px;
}
.button-views-profile {
  background-color: var(--tertiary-color);
  border: 1px solid black;
  padding: 5px 40px;
  border-radius: 20px;
  cursor: pointer;
}
.button-views-profile:hover {
  background-color: var(--quaternary-color);
  color: #ffffff;
}
.attachments-items a {
  text-decoration: none;
  color: inherit;
}
.attachments-items a:hover {
  color: var(--quaternary-color);
}
a i {
  color: black;
}
a p {
  color: black;
}

/* ===chỗ này là tab chat=== */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.time {
  font-size: 10px;
}
