<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatBox</title>
    <link rel="stylesheet" href="../static/css/chat.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
  </head>
  <body>
    <div class="container-component">
      <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar">
          <div class="sidebar-header">
            <div class="search-chat">
              <input
                type="text"
                class="form-control text-center"
                placeholder="Tìm kiếm tin nhắn"
                style="border-radius: 10px"
              />
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <!-- ===Danh sách người dùng chat=== -->
          <div class="scrollable-container">
            <ul class="list-group">
              <li class="list-group-item">
                <a
                  href="#"
                  class="item-links"
                  data-target="tin-nhan-1"
                  data-name="Nguyễn Thúy Quỳnh"
                  data-description="Đang hoạt động"
                >
                  <div class="user-item d-flex justify-content-between">
                    <div class="d-flex align-items-center mb-2 w-75">
                      <img
                        src="../static/assets/img/avatar.jpg"
                        alt="Avatar"
                        class="img-fluid rounded-circle"
                      />
                      <div class="user-item-content text-truncate">
                        <h5 class="py-0 my-0">Nguyễn Thúy Quỳnh</h5>
                        <p class="py-0 my-0 w-75">Chào! Đi chơi không?</p>
                      </div>
                    </div>
                    <div class="user-item-actions">
                      <span class="time">10:30 AM</span>
                      <i class="fa-solid fa-circle"></i>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-group-item">
                <a
                  href="#"
                  class="item-links"
                  data-target="tin-nhan-2"
                  data-name="SDMAS FPT"
                  data-description="Đang hoạt động"
                >
                  <div class="user-item d-flex justify-content-between">
                    <div class="d-flex align-items-center mb-2 w-75">
                      <img
                        src="../static/assets/img/avatar.jpg"
                        alt="Avatar"
                        class="img-fluid rounded-circle"
                      />
                      <div class="user-item-content text-truncate">
                        <h5 class="py-0 my-0 group-chat">SDMAS FPT</h5>
                        <p class="py-0 my-0 w-75">Chào! Đi chơi không?</p>
                      </div>
                    </div>
                    <div class="user-item-actions">
                      <span class="time">10:30 AM</span>
                      <i class="fa-solid fa-circle" style="color: #15b786"></i>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Chat Area -->
        <div class="chat-area d-flex flex-column">
          <div class="chat-area-top">
            <div
              class="chat-header d-flex justify-content-between align-items-center"
            >
              <div
                class="user-status d-flex justify-content-between align-items-center"
              >
                <div class="user-status-content d-flex align-items-center">
                  <img
                    src="../static/assets/img/avatar.jpg"
                    alt="Avatar"
                    class="img-fluid rounded-circle text-center px-2"
                  />
                  <div class="d-flex flex-column">
                    <p style="margin-bottom: 0">Lưu Hữu Được</p>
                    <span class="status">Đang hoạt động</span>
                  </div>
                </div>
              </div>
              <div class="user-actions">
                <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
              </div>
            </div>
            <div class="chat-messages">
              <div class="message received">
                <div class="avt-user-send">
                  <img
                    src="../static/assets/img/avatar.jpg"
                    alt="Avatar"
                    class="img-fluid rounded-circle"
                  />
                </div>
                <p>Ê làm sao ốm à</p>
              </div>
              <div class="message sent d-flex justify-content-end">
                <p>Không, buồn ngủ</p>
              </div>
              <div class="message received">
                <div class="avt-user-send">
                  <img
                    src="../static/assets/img/avatar.jpg"
                    alt="Avatar"
                    class="img-fluid rounded-circle"
                  />
                </div>
                <p>
                  Được rồi, ngày mai phải dậy sớm đến trường trực nhật. Quét cả
                  sân trường đó m
                </p>
              </div>
              <div class="message received">
                <div class="avt-user-send">
                  <img
                    src="../static/assets/img/avatar.jpg"
                    alt="Avatar"
                    class="img-fluid rounded-circle"
                  />
                </div>
                <p>sinh hoạt tổng.pdf</p>
              </div>
              <div class="message sent d-flex justify-content-end">
                <p>
                  Ok t chắc chắn nhớ rồi ok Cần mang gì nhiều Lorem ipsum dolor
                  sit amet.
                </p>
              </div>
              <div class="message received">
                <div class="avt-user-send">
                  <img
                    src="../static/assets/img/avatar.jpg"
                    alt="Avatar"
                    class="img-fluid rounded-circle"
                  />
                </div>
                <p>Mang chơi chả đi với mặc đồ bình thường cũng được</p>
              </div>
              <div class="message sent d-flex justify-content-end">
                <p>OK</p>
              </div>
            </div>
          </div>
          <div
            class="chat-input d-flex justify-content-between align-items-center"
          >
            <div class="image-btn">
              <a href="#"><i class="fa-regular fa-image"></i></a>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tin của bạn"
            />
            <div class="btn-send-container">
              <a href="#"><i class="fi fi-br-paper-plane-top btn-send"></i></a>
            </div>
          </div>
        </div>
        <!-- User Profile -->
        <div class="user-profile">
          <div class="profile-header">
            <img
              src="../static/assets/img/avatar.jpg"
              alt="Avatar"
              class="img-fluid rounded-circle"
            />
            <h5>Lưu Hữu Được</h5>
            <p>Đang hoạt động</p>
          </div>
          <div class="profile-actions d-flex align-items-center">
            <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
            <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
            <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
            <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
          </div>
          <div class="more-action">
            <ul class="more-action-items">
              <li class="more-action-item">
                <a href="#">Thông tin đoạn chat</a
                ><i class="fa-solid fa-chevron-down"></i>
              </li>
              <li class="more-action-item">
                <a href="#">Tùy chỉnh</a
                ><i class="fa-solid fa-chevron-down"></i>
              </li>
              <li class="more-action-item">
                <a href="#">File & links</a
                ><i class="fa-solid fa-chevron-down"></i>
              </li>
              <li class="more-action-item">
                <a href="#">Quyền riêng tư</a
                ><i class="fa-solid fa-chevron-down"></i>
              </li>
            </ul>
          </div>
        </div>

        <!-- ===Hiển thị tin nhắn=== -->
        <main role="main" class="">
          <!-- Nội dung tin nhắn hiển thị ở đây -->
          <div id="tin-nhan-1" class="tab-content">
            <!-- tin nhắn -->
            <div class="chat-area-top">
              <div
                class="chat-header d-flex justify-content-between align-items-center"
              >
                <div
                  class="user-status d-flex justify-content-between align-items-center mx-2"
                >
                  <div class="user-status-content d-flex align-items-center">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle text-center px-2"
                    />
                    <div class="d-flex flex-column">
                      <p style="margin-bottom: 0">Nguyễn Thúy Quỳnh</p>
                      <span class="status">Đang hoạt động</span>
                    </div>
                  </div>
                </div>
                <div class="user-actions">
                  <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
                </div>
              </div>
              <div class="chat-messages">
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <p>Ê làm sao ốm à</p>
                </div>
                <div class="message sent d-flex justify-content-end">
                  <p>Không, buồn ngủ</p>
                </div>
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <p>
                    Được rồi, ngày mai phải dậy sớm đến trường trực nhật. Quét
                    cả sân trường đó m
                  </p>
                </div>
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <p>sinh hoạt tổng.pdf</p>
                </div>
                <div class="message sent d-flex justify-content-end">
                  <p>
                    Ok t chắc chắn nhớ rồi ok Cần mang gì nhiều Lorem ipsum
                    dolor sit amet.
                  </p>
                </div>
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <p>Mang chơi chả đi với mặc đồ bình thường cũng được</p>
                </div>
                <div class="message sent d-flex justify-content-end">
                  <p>OK</p>
                </div>
              </div>
            </div>
            <div
              class="chat-input d-flex justify-content-between align-items-center"
            >
              <div class="image-btn">
                <i class="fa-regular fa-image"></i>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tin của bạn"
              />
              <div class="btn-send-container">
                <a href="#"
                  ><i class="fi fi-br-paper-plane-top btn-send"></i
                ></a>
              </div>
            </div>
          </div>
          <div id="tin-nhan-2" class="tab-content">
            <!-- tin nhắn -->
            <div class="chat-area-top">
              <div
                class="chat-header d-flex justify-content-between align-items-center"
              >
                <div
                  class="user-status d-flex justify-content-between align-items-center mx-2"
                >
                  <div class="user-status-content d-flex align-items-center">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle text-center px-2"
                    />
                  </div>
                  <div class="d-flex flex-column">
                    <p
                      style="
                        color: #ff0000;
                        margin-bottom: 0;
                        font-weight: 900;
                        font-size: 18px;
                      "
                    >
                      SDMAS FPT
                    </p>
                    <span class="status" style="font-weight: 100"
                      >Đang hoạt động</span
                    >
                  </div>
                </div>
                <div class="user-actions">
                  <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
                </div>
              </div>
              <div class="chat-messages">
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <div class="message-infor">
                    <span class="name-sender">Lưu Hữu Được</span>
                    <p>Ê làm sao ốm à</p>
                  </div>
                </div>
                <div class="message sent d-flex justify-content-end">
                  <p>Không, buồn ngủ</p>
                </div>
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <div class="message-infor">
                    <span class="name-sender">Đỗ Kiều Trang</span>
                    <p>
                      Được rồi, ngày mai phải dậy sớm đến trường trực nhật. Quét
                      cả sân trường đó m
                    </p>
                  </div>
                </div>
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <div class="message-infor">
                    <span class="name-sender">Trưởng phòng 1</span>
                    <p>sinh hoạt tổng.pdf</p>
                  </div>
                </div>
                <div class="message sent d-flex justify-content-end">
                  <p>
                    Ok t chắc chắn nhớ rồi ok Cần mang gì nhiều Lorem ipsum
                    dolor sit amet.
                  </p>
                </div>
                <div class="message received">
                  <div class="avt-user-send">
                    <img
                      src="../static/assets/img/avatar.jpg"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <div class="message-infor">
                    <span class="name-sender">Bế Chí Kiên</span>
                    <p>Mang chơi chả đi với mặc đồ bình thường cũng được</p>
                  </div>
                </div>
                <div class="message sent d-flex justify-content-end">
                  <p>OK</p>
                </div>
              </div>
            </div>
            <div
              class="chat-input d-flex justify-content-between align-items-center"
            >
              <div class="image-btn">
                <i class="fa-regular fa-image"></i>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tin của bạn"
              />
              <div class="btn-send-container">
                <a href="#"
                  ><i class="fi fi-br-paper-plane-top btn-send"></i
                ></a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://kit.fontawesome.com/c148521509.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/chat.js"></script>
  </body>
</html>
