<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/landing-page.css" />
    <title>Lịch Sử</title>
  </head>
  <body id="ls">
    <div class="ls">
      <h1>LỊCH SỬ NGUỒN GỐC</h1>
      <h2>Lịch sử hình thành phát triển bộ môn SDMAS</h2>
      <div class="main-ls">
        <p id="mota">Mô tả</p>
        <div class="conten-ls">
          <pre style="font-size: 13px">
<b>
     Võ Thuật Tự vệ có nguồn cố là môn võ của người Việt Cổ, là bộ môn võ thuật lâu đời của người Việt Nam từ thời kì Hùng Vương.
     Sở dĩ nguồn gốc của bộ môn Võ Thuật Tự Vệ được cho là hình thành, xây dựng bởi dân tộc Giao Chỉ vì những kĩ thuật
 đặc thù, được đúc kết bởi các võ sư chuyên môn và giảng dạy cho các võ sinh, môn sinh đều là những kĩ thuật lầy bé đánh lớn, lấy yếu địch 
     mạnh. 
     Với tôn chỉ sử dụng sự linh hoạt, uyển chuyển cùng óc tư duy nhạy bén, tấn công vào các yếu huyệt, khớp vận động để triệt tiêu, suy 
giảm khả năng chiến đấu của đối phương.
    Đối chiếu với lịch sử, vóc dáng, thể hình của dân tộc Việt Nam bấy giớ cũng khá khiêm tốn, nhỏ bé so với quân xâm lược đến từ quốc 
gia láng giềng.
    Trải qua hơn 10 thế kỷ dân tộc bị áp bức dưới ách đô hộ của Trung Quốc, Đại tổ họ Hoàng cùng dòng dõi của người đã âm thầm bảo vệ, phát 
triển cũng như xây dựng lại hệ thống các cấp bậc để phù hợp hơn với con đường rèn luyện võ thuật cho hậu thế.
    Cho đến năm 2015, được sự chấp thuận của hội đồng võ sư do Võ Sư Chu Văn Quang làm trưởng quản. Một trong 5 đệ tử truyền thừa Đại sư 
Hoàng Thanh Long là Võ Sư Nguyễn Văn Sơn đã mở ra một con đường mới cho bộ môn Võ Thuật Tự Vệ.
    Với phương châm lưu giữ và truyền hóa những tinh hoa võ thuật, tình thần đấu tranh quật cường của bao thế hệ người dân việt nam đấu 
tranh bảo vệ và giữ nước, đề cao các giá trị nhân văn từ ngàn xưa và tinh thần võ đạo dân tộc là những điều bộ môn hết sức quan tâm và 
mong muốn từng môn sinh thấm nhuần. Lựa chọn phát triển theo hai hướng độc lập có vai trò thúc đẩy là đưa bộ môn ngày càng lan tỏa đến 
những con người yêu mến võ thuật.
    Không chỉ hướng đến lực lượng bảo vệ vũ trang bảo vệ Tổ Quốc. Giờ đây, bộ môn Võ Thuật Tự Vệ đã được lan tỏa đến mọi người dân trong 
xã hội. từ những sinh viên phải sống, học tập,… trong môi trường đô thi, đến những người đi làm với mong muốn cải thiện sức khỏe cho bản 
thân, hay các em học sinh ngồi trên ghế nhà trường không muốn là nạn nhân của bạo lực học đường.
</b>
                </pre>
        </div>
        <div class="btn-ls">
          <a href="../templates/landing-page.html">Đã rõ!</a>
        </div>
      </div>
    </div>
  </body>
</html>
