<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/landing-page.css" />
    <title>Lịch Sử</title>
  </head>
  <body id="ls">
    <div class="ls">
      <h1>LỊCH SỬ NGUỒN GỐC</h1>
      <h2>Lịch sử hình thành phát triển bộ môn SDMAS</h2>
      <div class="main-ls">
        <p id="mota">Mô tả</p>
        <div class="conten-ls">
          <pre style="font-size: 13px">
<b>
     Võ Thuật Tự vệ có nguồn cố là môn võ của người Việt Cổ, là bộ môn võ thuật lâu đời của người Việt Nam từ thời kì Hùng Vương.
     Sở dĩ nguồn gốc của bộ môn Võ Thuật Tự Vệ được cho là hình thành, xây dựng bởi dân tộc Giao Chỉ vì những kĩ thuật
 đặc thù, được đúc kết bởi các võ sư chuyên môn và giảng dạy cho các võ sinh, môn sinh đều là những kĩ thuật lầy bé đánh lớn, lấy yếu địch 
     mạnh. 
     Với tôn chỉ sử dụng sự linh hoạt, uyển chuyển cùng óc tư duy nhạy bén, tấn công vào các yếu huyệt, khớp vận động để triệt tiêu, suy 
giảm khả năng chiến đấu của đối phương.
    Đối chiếu với lịch sử, vóc dáng, thể hình của dân tộc Việt Nam bấy giớ cũng khá khiêm tốn, nhỏ bé so với quân xâm lược đến từ quốc 
gia láng giềng.
    Trải qua hơn 10 thế kỷ dân tộc bị áp bức dưới ách đô hộ của Trung Quốc, Đại tổ họ Hoàng cùng dòng dõi của người đã âm thầm bảo vệ, phát 
triển cũng như xây dựng lại hệ thống các cấp bậc để phù hợp hơn với con đường rèn luyện võ thuật cho hậu thế.
    Cho đến năm 2015, được sự chấp thuận của hội đồng võ sư do Võ Sư Chu Văn Quang làm trưởng quản. Một trong 5 đệ tử truyền thừa Đại sư 
Hoàng Thanh Long là Võ Sư Nguyễn Văn Sơn đã mở ra một con đường mới cho bộ môn Võ Thuật Tự Vệ.
    Với phương châm lưu giữ và truyền hóa những tinh hoa võ thuật, tình thần đấu tranh quật cường của bao thế hệ người dân việt nam đấu 
tranh bảo vệ và giữ nước, đề cao các giá trị nhân văn từ ngàn xưa và tinh thần võ đạo dân tộc là những điều bộ môn hết sức quan tâm và 
mong muốn từng môn sinh thấm nhuần. Lựa chọn phát triển theo hai hướng độc lập có vai trò thúc đẩy là đưa bộ môn ngày càng lan tỏa đến 
những con người yêu mến võ thuật.
    Không chỉ hướng đến lực lượng bảo vệ vũ trang bảo vệ Tổ Quốc. Giờ đây, bộ môn Võ Thuật Tự Vệ đã được lan tỏa đến mọi người dân trong 
xã hội. từ những sinh viên phải sống, học tập,… trong môi trường đô thi, đến những người đi làm với mong muốn cải thiện sức khỏe cho bản 
thân, hay các em học sinh ngồi trên ghế nhà trường không muốn là nạn nhân của bạo lực học đường.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem labore consequuntur eveniet facilis blan
ditiis incidunt unde inventore nostrum expedita minus excepturi accusantium aperiam, delectus at laboriosam ipsa corporis porro sed.
Natus delectus eum quaerat eveniet vel modi. Sunt aut voluptas odio. Vero, sunt ratione porro praesentium quod minus placeat, esse dolore, mollitia iste debitis earum magni iure. Nostrum, ratione cumque.
Cupiditate beatae nihil placeat voluptatibus molestiae distinctio harum iste architecto possimus aspernatur alias, deleniti omnis quos earum eaque provident, labore perspiciatis tempora. Culpa dolore suscipit tempora, labore placeat quos porro?
Quis quas consequuntur error impedit ipsam consectetur! Quam culpa cum error nostrum eveniet provident minus quasi expedita, odio est doloribus? Qui, quisquam obcaecati! Dolorum asperiores quibusdam accusamus, voluptatibus sequi doloremque!
Non eaque voluptas reprehenderit doloremque fuga, delectus placeat! Nobis neque officiis quae ipsum eligendi dolor natus recusandae reprehenderit cum voluptas nulla maiores eveniet a similique, ipsam adipisci, exercitationem vel aliquid.
Ratione architecto sequi illum consequatur soluta reprehenderit magnam. Facere voluptate excepturi recusandae eos numquam a ducimus eius eligendi adipisci placeat at nostrum, in laborum? Minus adipisci vel praesentium soluta laborum!
Ratione, nesciunt. Nam nihil quo est odit error neque qui veniam ratione cupiditate quae autem voluptas eum quas dignissimos architecto, consectetur inventore fuga beatae? Reiciendis vero obcaecati saepe assumenda quo!
Dolorem facilis non qui neque commodi! Maiores quia error, soluta quae aliquid sint voluptatibus ex ad, praesentium, eius pariatur doloremque nihil consectetur tempore officia laborum deserunt eaque blanditiis assumenda commodi!
Praesentium itaque reprehenderit repellat non nemo recusandae consectetur mollitia sunt in laborum possimus, perferendis expedita nisi quibusdam commodi voluptatem amet ullam aspernatur a officiis ratione ut! Ut nihil numquam unde?
Minus aut quibusdam incidunt, exercitationem illo vero numquam quas similique. Necessitatibus eos culpa deserunt dolorum excepturi accusantium laudantium distinctio, nulla aperiam qui delectus quod illo veniam placeat officia officiis dignissimos.
Illum est perferendis assumenda sint maxime sed dolores beatae perspiciatis soluta, cum quidem eum enim quia, aliquid at labore voluptatem tempora corrupti quaerat dicta. Minus incidunt ducimus quod repellat excepturi!
Deleniti fugit cum dolores corporis rerum doloremque rem, eligendi aliquam tenetur beatae et natus placeat maiores nesciunt minima. Maxime hic quidem et explicabo accusantium? Obcaecati quod fugit maxime inventore porro?
Voluptate eos natus dolorem ipsam molestias magni cumque itaque perspiciatis soluta ullam libero nam blanditiis repudiandae, placeat corrupti adipisci est asperiores aperiam voluptatem atque et sint autem odio omnis. Hic.
Officia, nemo? Minus cum illo vero pariatur tenetur, tempora nobis officiis labore modi iure quos at ullam beatae ad sunt itaque nulla tempore eos est asperiores ipsam. Suscipit, deleniti saepe.
Minus asperiores blanditiis molestias consectetur eos totam beatae corrupti aliquid tenetur possimus reprehenderit, animi veniam ipsa, architecto, natus quibusdam nesciunt dolorum quasi cupiditate velit deleniti! Mollitia accusantium commodi quaerat vel.
Quos id qui assumenda exercitationem, dolorum fugit ad labore deleniti. Ex molestiae, voluptatum animi repudiandae corporis commodi alias illo ullam dolorum ratione vel iure iste eius, ipsa quidem qui optio.
Nemo cupiditate perspiciatis reiciendis neque temporibus nobis aliquam sit amet molestias maiores, aut minus adipisci? Ullam officia minima nostrum exercitationem qui aliquam fugiat excepturi est deserunt eius. Maxime, eum dolor.
Corrupti minima dolor nesciunt reiciendis ad explicabo, repellendus, totam accusantium nostrum, quasi quae architecto non! Expedita quis, ducimus totam harum dolor maxime alias repellat quos iure facere assumenda aliquam quasi.
Possimus exercitationem rerum itaque a iste. Voluptates natus distinctio, quasi consequuntur assumenda, tempora ex repellendus, atque beatae sunt sequi quod deleniti quam commodi. Rerum accusamus reiciendis tenetur maxime, impedit quasi?
Eveniet voluptatum sequi, a alias nobis ipsum repellendus beatae ex reprehenderit necessitatibus fugiat, porro illum, facere est. Quibusdam, amet, error voluptatem fuga quam quis placeat deserunt dolorum ea provident et?
</b>
                </pre>
        </div>
        <div class="btn-ls">
          <a href="../templates/landing-page.html">Đã rõ!</a>
        </div>
      </div>
    </div>
  </body>
</html>
